.body{
     background-color: rgb(15, 117, 207);
color: rgb(255, 255, 255);
align-items: center;
text-align: center;
position: center;
}

.header{
   background-color: rgb(139, 22, 22);
   align-items: center;
   text-align: center;
   position: center;
   position: absolute;
}

.Pizza{
   background-image: url(pzz.jpg);
   height: 100px;
   background-position: center;
   background-size: cover;

}
  
.form{
    text-align: center;
    align-items: center;

}
