.principal {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.landing_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(31, 75, 197);
    font: status-bar;
    font-size: 64px;
    text-align: center;
}


.imagem_central {
    margin: 0 auto;
    display: block;
}