body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease, 0.3s ease;
}

.livro {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 10px;
    border-radius: 15px;
    height: auto; 
    position: relative; 
    background-color: hsla(207, 50%, 42%, 0.722);
    font-size: 20px;
    color: azure;
    margin-top: 05px;
    margin-bottom: 10px;
    padding: 20px;
  }

.livro2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 10px;
    border-radius: 15px;
    height: auto; 
    position: relative; 
    background-color: #15ab8bbf;
    font-size: 20px;
    color: azure;
    margin-top: 05px;
    margin-bottom: 10px;
    padding: 20px;
}

.livro3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 10px;
    border-radius: 15px;
    height: auto; 
    position: relative; 
    background-color: #0fe3564c;
    font-size: 20px;
    color: azure;
    margin-top: 05px;
    margin-bottom: 10px;
    padding: 20px;
}

.livro4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 10px;
    border-radius: 15px;
    height: auto; 
    position: relative; 
    background-color: #d1ea12a4;
    font-size: 20px;
    color: azure;
    margin-top: 05px;
    margin-bottom: 10px;
    padding: 20px;
}

  
  .livro img {
    width: 50%; 
    margin-right: 20px; 
  }
  
  .-info {
    flex: 1; 
  }

.container {
    text-align: center;
}

.botao-comprar {
  background-color: #db1111;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botao-comprar:hover {
  background-color: #954141;
}

button {
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   border: none;
   background-color: #0fdceb;
   color: rgb(255, 0, 0);
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

button:hover{
    background-color: #538cca;
}

.light-theme{
    background-color: #f0f0f0;
    color: #000;
}

.dark-theme{
    background-color: #333;
    color: #fff;
}

