body {
    background-color: #B8FFA7;
    color:rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.usuario,.carrinho {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
  }
  
  .usuario {
    right: 0;
  }
  
  .carrinho {
    right: 60px;
  }

.title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 24px;
}

.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.circle {
  position: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #5AFF75;
  border: 1px solid #ccc;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #B8FFA7;
}

.name,.price {
  margin: 0;
  padding: 0;
}